[2018-08-10 07:09] AdamGrzybkowski opened #2 "Rebuffering stats doesn't seem to match the reality"
I've recently implemented mux.com to gather statistics from exoPlayer. In the dashboard, I can see that there was no rebuffering. The score is 100 and there is 0 rebuffer count. I'm pretty sure this is wrong as I had some rebuffering myself and other users also reported the issue with streaming.

[2018-08-10 19:03] wtao-mux commented on #2
@AdamGrzybkowski can you share me your exoplayer version? I did observe something strange in v2.8.0. But it works fine for v2.6.0

[2018-08-11 11:26] AdamGrzybkowski commented on #2
@wtao-mux I'm using ExoPlayer 2.8.0, I do use Player.BUFFERING state myself I and works ok, so not sure what might be the problem

[2018-08-12 20:57] wtao-mux commented on #2
The issue is v2.8.0 reports an runtime exception while a socket connection is temporary reset due to poor network condition. The exception resets an internal state in our SDK. We will provide a fix very soon.

[2018-08-17 16:00] jsanford8 commented on #2
Hey @AdamGrzybkowski  - we just released v0.4.2 that should hopefully fix this issue. Please feel free to re-open this issue if you still see this occurring.

[2018-08-17 16:00] #2 closed, assigned to nobody

[2018-08-28 09:41] AdamGrzybkowski commented on #2
@jsanford8 It looks like the issue still exists. Maybe I can send you via private email more info so you can check the exact project?

[2018-08-28 15:54] wtao-mux commented on #2
@AdamGrzybkowski hey Adam, this is Wenwei. I am working on any android related issues. The previous fix is about stopping rebuffering while in poor network condition. I would like to see more detail about this issue, please send your investigation to wtao@mux.com. Thanks

[2018-10-02 08:09] AdamGrzybkowski opened #8 "Project with Mux 0.4.4 does not build"
After updating mux-r2.8.0 to 0.4.4 the project does not build.

Error
[code]

In the [integration guide](https://docs.mux.com/docs/android-integration-guide) there is nothing mentioned about IMA. Is this required?

[2018-10-12 07:07] AdamGrzybkowski commented on #2
@wtao-mux I've been trying to contact you via email but it tells me that your email is disabled. Did it change?

[2018-10-12 16:33] jsanford8 commented on #2
hey @AdamGrzybkowski - send the email to me (justin@mux.com) and I'll make sure it gets answered.

[2018-11-10 04:53] jsanford8 commented on #8
Hey @AdamGrzybkowski - when we released support for the IMA SDK (to track ad playback), we inadvertently introduced a dependency on the IMA SDK. This was not intended, and we're working on fixing it in a future version.

[2019-01-23 05:27] kai-sarawut opened #12 "mux-r2.8.0 sends "Player is accessed on the wrong thread" warning"
After updating version to mux-r2.8.0 I notice that "Player is accessed on the wrong thread" warning is sent repeatedly in Logcat console. The last version has no this issue so I suspect that this could possibly affect ExoPlayer performance on my application? Or this is a known issue?  How can I handle with this issue? Thanks.

[2019-01-23 06:36] kai-sarawut commented on #12
![messageimage_1548225295823](https://user-images.githubusercontent.com/15886164/51646570-aa631680-1fab-11e9-9f39-35e461b7c337.jpg)

[2019-01-23 20:34] jsanford8 commented on #12
Hi @kai-sarawut - as of right now, this should be a warning based on the threading model that ExoPlayer has taken as of ExoPlayer 2.9.0, but we are looking at how we can address this moving forward. Are you seeing this impact playback within the application?

[2019-01-24 01:00] kai-sarawut commented on #12
Hi, @jsanford8. Good to know this issue is going be addressed.
At first I had playback related issue on the application and started to investigate the real problem til found out the issue caused by integration with another third-party code.  Until now I don't have a visible impact on the application with this issue, but I wonder this could have an effect on player in the future.

[2019-01-24 01:01] jsanford8 commented on #12
Hi @kai-sarawut - absolutely! This is why we're looking into fixing this moving forward, because Google may change this into a hard exception in the future, potentially, or some other issue. I will provide updates on this issue as we have them.

[2019-01-31 21:43] OMArikan commented on #12
Hi @jsanford8 - my suggestion is letting pass Looper on constructor of "MuxStatsExoPlayer" likewise "ExoPlayerFactory.newSimpleInstance()".
SimpleExoPlayer.eventHandler is private final and you can't reach it from ExoPlayer object that passed in your constructor . Please don't use "Looper.getMainLooper()" because not everyone using default Looper in ExoPlayer like me.
Looking to hear from you soon

[2019-02-01 14:24] kai-sarawut commented on #12
I think it's a thread issue in an operation in the libs.

[2019-02-01 14:32] jsanford8 commented on #12
@OMArikan thanks for the suggestion, we'll look into that!

@kai-sarawut - We do have an internal task that loops, querying the player's current playhead position, similar to this comment on ExoPlayer's issue about threading: https://github.com/google/ExoPlayer/issues/4463#issuecomment-417435600. We're trying to come up with a way to do this correctly.

[2019-03-28 10:33] pakerfeldt opened #13 "Remove Google Interactive Media Ads dependency"
As of release 0.4.5 a transient dependency to Google Interactive Media Ads(IMA) has been introduced and seems to be mandatory. The size of this dependency is significant.

Would you consider making this optional instead?

[2019-05-06 08:29] OMArikan commented on #12
Hi @jsanford8 it's been so long we have not heard any updates from you. Waiting mux-r2.9.0.aar.

[2019-06-10 09:07] stufan commented on #12
I integrated mux-2.8.0 version and experience exactly the same issue. ExoPlayer version is 2.10.1 (the latest as of today). Any updates?

[2019-07-04 10:02] rommansabbir opened #14 "When i imported the laest .aar & hit re-build faced problem encoding configuration. had to reinstall Android Studio"
![image](https://user-images.githubusercontent.com/25950083/60658469-13ad5680-9e75-11e9-814c-b0d167cf071e.png)
![image](https://user-images.githubusercontent.com/25950083/60658495-1f008200-9e75-11e9-93ea-dbe82d5e070b.png)

[2019-08-12 09:16] sezn commented on #12
Yeah, it's very disappointed, two years late no new Version. It s just a warning, so, if it s just mux who dont work has expected... no matter.

[2019-08-14 21:34] jsanford8 commented on #14
Hey @rommansabbir - that's very odd. Importing the ARR should not have caused that type of problem, as far as we're aware.

We've imported the latest ARR into a few projects again and haven't faced the issue you're seeing. Were you able to get up and running eventually?

[2019-08-15 07:42] #14 closed, assigned to nobody

[2019-10-02 01:48] huyto-hitrec opened #18 "mux-r2.8.0 crash with Gradle build tool 3.5.0"
### Description
When the app tries to instantiate a MuxStatsExoPlayer, it crashes with an AbstractMethodError. This only happens when building with Gradle buildTypes field "debuggable false". This is did not happen in ExoPlayer v2.9.6.

### Code
[code]

[2019-10-02 18:49] huyto-hitrec commented on #18
After more investigation, the cause doesn't seem to be the ExoPlayer version change but rather a change from Gradle build tool (com.android.tools.build:gradle) from version 3.4.2 to 3.5.0. This would make sense why the debuggable flag is causing this crash as the build tool probably changed the way they handle debuggable vs non-debuggable.

[2019-10-02 19:22] jsanford8 commented on #18
@huyto-hitrec Thanks a lot for the investigation! We'll take a look to see why that would be causing the SDK to crash

[2019-10-17 18:32] nicolasjafelle opened #19 "Problem at compile time with latest Android Studio 3.5.1"
- Cannot compile project after update to latest gradle plugin `3.5.1` and gradle wrapper `5.6.2-all`
- Simple update to latest `Android Studio 3.5.1` and update gradle plugin to `3.5.1` and gradle wrapper `5.6.2-all` and try to rebuild project.
- ExoPlayer version `2.9.6` with Custom Integration based on the demo project.
- There is no bug report and the problem is in compilation time. Might be a

[2019-10-30 19:02] jsanford8 commented on #13
This has been fixed as of v0.5.0.

[2019-10-30 19:02] #13 closed, assigned to nobody

[2019-11-05 01:33] jsanford8 opened #21 "Implement `updateCustomerData` for allowing metadata updates after initial load."
There are certain use cases where it is important to let people update certain metadata fields after the initial initialization of metadata. One such use case is where the `video_cdn` is not known at start time, and we have no way to automatically pull that via headers. In this way, they need to be able to update what is in `CustomerVideoData` and `CustomerPlayerData`, which should then be sent to

[2019-11-07 08:13] jsanford8 commented on #19
fixed by #20

[2019-11-07 08:13] #19 closed, assigned to nobody

[2019-11-07 08:14] jsanford8 commented on #18
fixed by #20

[2019-11-07 08:14] #18 closed, assigned to nobody

[2019-11-07 08:14] jsanford8 commented on #12
fixed by #20

[2019-11-07 08:14] #12 closed, assigned to nobody

[2019-11-07 08:14] jsanford8 commented on #8
Let us know if you need to reopen this, but with #20 we have updated the build process a bit, and should hopefully have resolved this.

[2019-11-07 08:14] #8 closed, assigned to nobody

[2019-11-07 20:32] nicolasjafelle commented on #19
@jsanford8 thanks for fixing the issue. Unfortunately I still have it, do you remember what do the trick?

[2019-11-07 20:37] jsanford8 commented on #19
hey @nicolasjafelle - have you pulled the lastest version and run a gradle sync? I'm using Android Studio 3.5.1 just with what's currently in master, and it works for me (everything that we changed should be checked in appropriately)

[2019-11-07 20:43] nicolasjafelle commented on #19
yes! quick question: it seems you are using `Android SDK Build-Tools 28.0.3` and I am using `29.0.2`
Do you think that maybe that is the problem?

[2019-11-07 20:44] jsanford8 commented on #19
Hmm, that could potentially be the issue. I can try to change that and see what happens on my side, one minute

[2019-11-07 20:52] nicolasjafelle commented on #19
just tested to use `28.0.3` and my problem still happens...

[2019-11-07 20:53] jsanford8 commented on #19
Have you tried running Build > Clean Project since you pulled the latest commits?

[2019-11-07 20:54] nicolasjafelle commented on #19
BTW I also face this:

[code]

Do you think I need to add a proguard rule like:

`-keep public class com.mux.stats.sdk.core.events.EventBus { public protected *; }`

[2019-11-07 20:55] jsanford8 commented on #19
Do you have the MuxCore.jar library correctly attached to your project? That looks like it can't link correctly to something in the MuxCore library.

[2019-11-07 20:58] nicolasjafelle commented on #19
Yes yes, the funny thing is that I only receive this error if I go to `Build` -> `Rebuild project`

But if I can just run my app it works correct, and in fact I am seeing data in Mux Web console.

[2019-11-07 21:00] jsanford8 commented on #19
That's quite odd, honestly. I just re-ran it myself off of master, and things work. You mentioned that you have your own custom integration (for 2.9.6, which we didn't support until just now); any chance I can get you to clone the repo fresh and try to build the demo app as is to see if you still have the same problem?

[2019-11-07 21:03] nicolasjafelle commented on #19
yes! I think so, let me do a small project with my Mux implementation and go back to you. BTW I am using d8 not proguard, are you the same? Thanks!

[2019-11-07 21:05] jsanford8 commented on #19
We're just using proguard standard, but I wonder if that might be part of the difference. I'm not actually familiar with D8; do you have a link to it so I can try to set it up on our side?

[2019-11-07 21:11] nicolasjafelle commented on #19
in Android Studio 3.5.1 you just need to add `android.enableD8=true` in your gradle.properties file and that's it.

Check this: https://jakewharton.com/r8-optimization-staticization/

[2019-11-07 21:31] jsanford8 commented on #19
Thanks! I turned that on, and Build > Clean followed by Build > Rebuild Project worked without any issues for me

[2019-11-07 22:18] nicolasjafelle commented on #19
So it must be something from my side then...

[2019-11-08 14:48] nicolasjafelle commented on #19
@jsanford8 found the fix for me, I had to upgrade the `minSdkVersion 24` and works perfectly. Unfortunately for me I have to suppor Android 21.

Do you know why upgrading to 24 is the minimum using ExoPlayer 2.9.6 ??

[2019-11-08 22:09] jsanford8 commented on #19
Hey @nicolasjafelle - according to the [docs from ExoPlayer 2.9.6](https://github.com/google/ExoPlayer/tree/r2.9.6), this requires Java 1.8 support, which is only supported from min API version 24. If you need to support API version 21, you might need to stick with ExoPlayer 2.8.x

[2019-11-11 13:09] nicolasjafelle commented on #19
@jsanford8 I am not sure about it. I Think it only needs to add:
[code]
In your app's build.gradle file and it just works. In fact the minSdkVersion across all the ExoPlayer repo is 16: [ExoPlayer Constants definition](https://github.com/google/ExoPlayer/blob/d73d64bc6fc90aa972c8e9f76fafba1ec661ca2d/constants.gradle)

Apart from that we have been using Exoplayer 2.9.6 with Mux for almost one year

[2019-11-28 00:37] huyto-hitrec opened #26 "mux-r2.10.6 crashing on Gradle > 3.4.2"
Related to #18. Steps for reproduction is the same. Supposedly #20 fixed this, but I'm still getting crashes when I try to upgrade my Gradle.

Exoplayer: 2.10.4

[2019-12-16 19:35] jsanford8 opened #29 "Add Header extraction to ExoPlayer"
It appears that ExoPlayer now supports access to the response headers. That should allow us to pull the CDN value from the requests on ExoPlayer.

New field here:
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/MediaSourceEventListener.LoadEventInfo.html#responseHeaders

[2019-12-17 18:38] jhowens89 opened #30 "Integration of AAR is not straight forward in multi-module projects"
Hello,

As far as I can tell, mux releases are only delivered in the form of AARs. This becomes an issue in multimodule projects where a library module depends on mux. This is because the android gradle plugin has never officially supported "fat AARs". This is rarely an issue, because most all dependencies are available via a remote repository. In fact, we have ~80 dependencies and mux is the only

[2019-12-19 12:51] nicolasjafelle commented on #19
@jsanford8 sorry to revive this issue but I managed to make it work but simple copy all the classes inside my app project module. I know it is not ideal but is the only way that works for me.

[2019-12-25 16:01] jsanford8 opened #32 "Host mux-stats-sdk-exoplayer on Maven"
Or some such place. The issue is that transitive dependency resolution cannot be performed on AARs included directly in the libs folder. This would also simplify the inclusion of our SDK within applications that use ExoPlayer.

We should investigate jcenter and whether we can host our AAR there (with all of the different versions/flavors) correctly, to make people's lives easier.

We have this _al

[2020-01-10 16:00] jsanford8 opened #34 "Support ExoPlayer 2.11.x"

[2020-02-21 23:56] chu-rh commented on #34
Hi @jsanford8, is there a rough timeline on when this will be done?

[2020-02-22 02:27] jhowens89 commented on #32
Is there any update on this?

[2020-02-25 07:49] jsanford8 opened #40 "For ExoPlayer r2.11.x, monitoring ad playback via `com.google.android.exoplayer2.source.ads.AdsLoader` is not supported"
In r2.11.x of ExoPlayer, Google modified how ads are handled, at least in their demo applications. This version introduced the `com.google.android.exoplayer2.source.ads.AdsLoader` class, which does not expose the same information that is exposed directly by the Google IMA AdsLoader.

If you run ads as they do in the demo application on htttps://github.com/google/exoplayer, you will likely see rebu

[2020-02-25 08:16] jsanford8 commented on #34
This has been completed, though if you utilize the updated mechanism for AdsLoader, see: #40

[2020-02-25 08:16] #34 closed, assigned to nobody

[2020-02-25 08:17] jsanford8 commented on #21
Fixed by #37

[2020-02-25 08:17] #21 closed, assigned to nobody

[2020-02-26 16:45] bearcattom commented on #30
+1 on this..  How about making the releases available via JitPack?

[2020-02-26 16:47] bearcattom commented on #30
If you could make the releases available here...that would be HUGE.

https://jitpack.io/#muxinc/mux-stats-sdk-exoplayer

[2020-04-03 10:11] szhangbiao opened #44 "Mux init crash when use ExoPlayerImpl"
I'm use [ExoMedia](https://github.com/brianwernick/ExoMedia) library on my project that use ExoPlayerFactory.newInstance create player instance [you can check here](https://github.com/brianwernick/ExoMedia/blob/759adcf670882a057df1236850d406a1f783f08a/library/src/main/java/com/devbrackets/android/exomedia/core/exoplayer/ExoMediaPlayer.java#L172)

[code]

[2020-04-03 16:10] stevenlyons commented on #44
Hi szhangbiao, good to hear from you. Is Mux Data already integrated with the ExoMedia library or are you trying to build the integration?

[2020-04-08 02:49] szhangbiao commented on #44
Trying build the integration that Exoplayer base on more than or equals 2.9.6

[2020-04-10 13:54] bearcattom commented on #32
Bumping this issue...we really need this!

[2020-04-20 02:29] nvhaiwork opened #45 "Live's duration and progress are wrong"
I'm trying to play a live streaming by the example and saw that duration and progress of streaming are in correct. Duration starts then increases to 40(or 20) then stop and progress will become -1 after a while

[2020-04-20 21:05] jsanford8 commented on #45
Hi @nvhaiwork thanks for reaching out. When you say `progress` and `duration`, what are you referring to within Mux? Is `duration` the `video_source_duration` field, and is `progress` the playhead position?

[2020-04-21 01:16] nvhaiwork commented on #45
![93649089_556944768288275_8985548397616300032_n](https://user-images.githubusercontent.com/4714680/79814363-4397fd00-83a8-11ea-88aa-c02a05b568e0.png)
I meant bottom seekbar(progress bar)

[2020-04-21 02:13] jsanford8 commented on #45
Hi @nvhaiwork - I'm a little bit confused; this project is a performance analytics tracking SDK to be added to ExoPlayer, but does not include any UI components or controls. As such, I don't think that our project is responsible for the issue that you're seeing here.

Are you saying that when you initialize Mux's SDK that the controls stop functioning as they did before?

[2020-04-21 02:17] nvhaiwork commented on #45
I'm not sure, I did not try ExoPlayer before. I just tried your example and saw the issue.

[2020-04-21 02:17] #45 closed, assigned to nobody

[2020-06-18 07:10] Oziomajnr commented on #32
Please is there a timeline for this? I need to add mux mux-stats-sdk as a transitive dependency too.

[2020-07-02 15:03] tomkordic commented on #40
This is covvered in card: https://zube.io/muxinc/mux/c/12185.

[2020-07-22 23:32] #26 closed, assigned to nobody

[2020-09-01 17:50] jswapnil90 commented on #40
@tomkordic @jsanford8 Is this bug resolved?
As per my observation, when MUX sdk is used with latest IMA and Exoplayer sdk, while video playback starts `rebufferStart` event is triggered as soon as ad starts playing and `rebufferEnd` is called when ad is ended. Which is leading to the huge increase in `Rebuffer Duration` after IMA ads integration in our apps.

Can you provide some alternate solutio

[2020-09-01 19:35] tomkordic commented on #40
Hi Guys,

This bug is waiting for review, here is the PR:
https://github.com/muxinc/mux-stats-sdk-exoplayer/pull/41
Let me know if I can assist in any way.

Best regards,
Tom.

On Tue, Sep 1, 2020 at 7:50 PM jswapnil90 <notifications@github.com> wrote:

[2020-09-03 13:10] jswapnil90 commented on #40
Thanks @tomkordic for updates.

Because of this issue mentioned above, Mux is tracking ads playback duration as `Rebuffer Duration` which is misleading us for video playback experience validation. Any plans to merge this PR and release next version in coming days?

Can you suggest some workaround from app side with current SDK to avoid this unrelated events till then?
Thanks.

[2020-09-03 14:23] tomkordic commented on #40
@jswapnil90
You could download the code from this branch and use it in your project,, that would be easiest, I will see if I can speed up the merge of this branch with master.

Here is the branch: https://github.com/muxinc/mux-stats-sdk-exoplayer/tree/r2_11_1

[2020-09-03 22:40] jsanford8 commented on #40
Hey @jswapnil90 - We are actively working on a release that will pull this in. I anticipate having it released next week.

[2020-10-28 16:44] #40 closed, assigned to tomkordic

[2020-11-02 12:28] Discovery-JSwapnil opened #55 "Application crashing in onAdEvent with 2.11.1 AAR"
We are using `mux-r2.11.1.aar` and `Exoplayer IMA extension 2.11.0` in our project. Sometimes while trying to play videos, this crash is occurring. Kindly helps us in understanding reason for this crash.

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference
       at com.mux.stats.sdk.muxst

[2020-11-02 17:32] stevenlyons commented on #55
Hi @Discovery-JSwapnil, can you tell me what version of the Mux Core and ExoPlayer plugins you are using when getting this error? Based on your description, sounds like you are testing with ExoPlayer 2.11 but we don't have a version of the SDKs with that string. The specific version of the Mux SDK would help.

[2020-11-02 17:42] Discovery-JSwapnil commented on #55
Hi @stevenlyons I am using latest [v2.0.0](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.0.0) version of the Mux SDK (`mux-r2.11.1.aar`) with `Exoplayer 2.11.0` and `IMA extension SDK 2.11.0`

[2020-11-02 17:44] stevenlyons commented on #55
Thanks much, we will take a look and get back to you.

[2020-11-02 22:10] tomkordic commented on #55
@Discovery-JSwapnil Can you think of the steps on how to reproduce this bug ?

[2020-11-03 04:16] Discovery-JSwapnil commented on #55
Hi @tomkordic  steps to reproduce are as follows:
1. Play any video which has IMA ads.
2. As soon as ads start playing, start new video.
3. We are releasing exoplayer and creating new one in this case, hence we are calling `muxStatsExoplayer.release()` while releasing and destroying exoplayer. Here crash happens.

If we do not call `muxStatsExoplayer.release()` then this crash does not come. I thi

[2020-11-03 11:11] tomkordic commented on #55
@Discovery-JSwapnil Thanks for the intel, I think I found the issue, fix should be part of the next release, in the mean time feel free to use this branch: https://github.com/muxinc/mux-stats-sdk-exoplayer/tree/AdsImaSDKListener_crash_fix it contains the fix to your problem.

[2020-11-03 11:19] Discovery-JSwapnil commented on #55
Thank you @tomkordic We also got same crash on line 59 of AdsImaSDKListener. Can you help us with possible date of next release? This is very critical issue for us.

[2020-11-03 11:31] tomkordic commented on #55
@Discovery-JSwapnil Can you share the crash log please

[2020-11-03 11:36] Discovery-JSwapnil commented on #55
Yes @tomkordic Here it is:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference
       at com.mux.stats.sdk.muxstats.a.onAdEvent(:59)
       at com.google.ads.interactivemedia.v3.internal.acv.a(IMASDK:70)
       at com.google.ads.interactivemedia.v3.internal.acv.a(IMASDK:108)
       at com

[2020-11-03 11:45] tomkordic commented on #55
@Discovery-JSwapnil Can you please try the code from the branch I shared and see if the issue is still present, I will do some testing on my side using the test scenario you described.

[2020-11-03 15:33] Discovery-JSwapnil commented on #55
@tomkordic Above crash is not coming now when I tried AAR from branch you mentioned, but getting another issue, when tried to switch between wifi and cellular 2-3 times.

E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #11
E/MuxNetworkRequests: Task android.os.AsyncTask$3@f305364 rejected from java.util.concurrent.ThreadPoolExecutor@f77209a[Running, pool size = 17, active threads = 17, queued tasks =

[2020-11-09 04:38] kai-sarawut opened #58 "Mux Plugin Version shows 1.5.0 in Mux dashboard even though v.2.0.0 updated (2.11.1 AAR)"
![image](https://user-images.githubusercontent.com/15886164/98500546-5fe58380-227f-11eb-827e-ccbb62bab57e.png)

What does the Mux Plugin Version should be? After  the 2.0.0 (2.11.1 AAR) integration, we just expect to see version number change to 2.0.0. We would like to be confirmed the correct version of the Mux plugin. Thank you.

[2020-11-09 04:58] jsanford8 commented on #58
Hello - thanks for reporting this; the version was inadvertently not updated in the latest release. We will fix this in the next release coming out this week!

[2020-11-09 05:45] kai-sarawut commented on #58
@jsanford8 Thank you for the confirmation.

[2020-11-19 10:05] Discovery-JSwapnil opened #61 "Issue with Video startup time"
We are using latest `v2.0.0` version of the Mux SDK (mux-r2.11.1.aar) with Exoplayer 2.11.0 and IMA extension SDK 2.11.0

On our dashboard we are getting more numbers of `Exit Before Video Starts` percentage. In our investigations, we found that it is happening because for some of the videos `Video Startup time` is not getting recorded as `playing` event is not tracked though timeline shows that v

[2020-11-19 11:40] james-mux commented on #61
Hi @Discovery-JSwapnil - thanks for reaching out. Could you drop me an e-mail to james@mux.com and we can look into this? Thanks!

[2020-11-19 15:08] pawelc-intive opened #62 "Conflict with other libraries (Duplicate class a.a.a.a.a.a)"
In our project we're having problems when trying to switch to latest v2.0.0 version of library (mux-r2.11.1.aar).
During build of project, we can see following error (which is causing build to fail)

When looking inside of those libraries, we can see that during build (made by authors), proguard did generate class with the same name "a.a.a.a.a.a" (of course content of those classes are different).

[2020-11-23 16:48] james-mux commented on #61
Working directly with @Discovery-JSwapnil on this. At this time we are unable to replicate any issue related to Video Start-Up Time within the SDK but we are continuing to investigate an edge case.

[2020-11-24 15:54] pawelc-intive commented on #62
I created PR https://github.com/muxinc/mux-stats-sdk-exoplayer/pull/63 with fix which we're using to make this library not conflict with other (there are also other ways to fix this - for example keeppackagenames).

[2020-11-27 13:00] kai-sarawut commented on #55
I got exactly same exception with version 2.0.0 (mux-r2.11.1.aar). For my case, this will occur when I try to open application with deep link navigating to player page.

[2020-12-02 05:41] kai-sarawut opened #64 "Question about Video Startup Time with pre-roll ad (Mux version 2.0.0)"
Since we just integrated mux v2.0.0 (2.11.1.AAR), we have seen the Video Startup Time increasing with pre-roll ads playing, please see the screen shots below.

The Video Startup Time seems to be sum of Video Startup Preroll Request Time and Video Startup Preroll Load Time and it doesn't reflect the stream video startup time alone without pre-roll ads. Is this the intended metrics from Mux? Please

[2020-12-07 22:01] #55 closed, assigned to nobody

[2020-12-07 22:01] #58 closed, assigned to nobody

[2020-12-07 22:01] #62 closed, assigned to nobody

[2020-12-22 08:36] saurabharora90 opened #72 "All types of Renderer issues are not captured"
Currently, `MuxStatsExoPlayer` is not capturing all types of `TYPE_RENDERER` errors. It is only capturing errors which are of type `DecoderInitializationException`

Is there any reason others are not being captured?

[2020-12-22 22:30] jsanford8 commented on #72
Hey @saurabharora90 - thanks for the issue (and the PR, which looks good!). One quick question - we only started out with the DecoderInitializationException as those were the ones that we knew were fatal to playback (e.g. if the decoder can't be initialized, it's not going to be able to play). What other types of `TYPE_RENDERER` errors might occur, and do you know if they will cause playback to fa

[2020-12-23 05:26] saurabharora90 commented on #72
I based the PR on two premises:

- Any error sent to [`onPlayerError` is a fatal error and will cause playback to fail](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onPlayerError-com.google.android.exoplayer2.ExoPlaybackException-)
- Our internal logging of errors are different than MUX only for `TYPE_RENDERER` errors. Other two, `TYPE_UNEXPECTED` and

[2020-12-23 17:52] #29 closed, assigned to tomkordic

[2021-01-07 05:59] saurabharora90 commented on #72
Hi @jsanford8

Hope you had a good holiday!

Any updates on this? :)

[2021-01-07 07:22] ThomasCZ opened #75 "AAR file is 16.6 MB in size"
AAR file of the latest version 2.3.0 has size 16.6MB. It is caused by test file _sample-1280x720.mkv_ in assets folder.

[2021-01-07 07:30] Discovery-JSwapnil commented on #75
Kindly look into this on priority and provide us lesser sized AAR files. Thank you.

[2021-01-08 06:01] jsanford8 commented on #75
Hey @ThomasCZ @Discovery-JSwapnil - thanks for reporting this. We have found the issue, and will be releasing a new version shortly. I'll update this ticket once it's release.

[2021-01-08 06:07] jsanford8 commented on #72
Hey @saurabharora90 thanks for following up! We had to get a real quick fix out for the large size of our built AAR files, but this will be following up shortly with another release once we have a quick chance to test it.

[2021-01-08 06:51] jsanford8 commented on #75
This has been fixed in v2.3.1 release.

[2021-01-08 06:51] #75 closed, assigned to nobody

[2021-01-12 09:42] ThomasCZ opened #78 "AAR lib contains undesirable resources"
AAR library contains application icon, layout and other undesirable resources. Please look into this on priority. Thank you.

![resources](https://user-images.githubusercontent.com/7516715/104297065-b14e0100-54c2-11eb-90dc-567b502024e0.png)

[2021-02-02 03:42] saurabharora90 commented on #72
Closing the issue as the PR was merged :)

[2021-02-02 03:42] #72 closed, assigned to nobody

[2021-02-18 07:24] saurabharora90 commented on #72
Following up with the results of this @jsanford8:

Code 1 errors with the new Mux SDK with this fix:

<img width="1010" alt="Screenshot 2021-02-18 at 3 24 01 PM" src="https://user-images.githubusercontent.com/1703474/108320186-6b8d0280-71fd-11eb-93a8-a469f9747322.png">

Code 1 errors earlier:

<img width="916" alt="Screenshot 2021-02-18 at 3 24 14 PM" src="https://user-images.githubusercontent.com

[2021-02-19 06:51] Oziomajnr opened #91 "Use Player version and Player name from CustomerPlayerData config"
In this SDK, the class `com.mux.stats.sdk.core.model.CustomerPlayerData `allows us to set the player name and player version but these values are not being used. In `com.mux.stats.sdk.muxstats.MuxBaseExoPlayer ` the player name and player version are hardcoded as `"ExoPlayer"` and `ExoPlayerLibraryInfo.VERSION` respectively.

In some cases this is not desired, for example we integrated MUX in our

[2021-02-19 17:47] skidder commented on #91
@Oziomajnr - Thank you for opening an issue! Mux Data distinguishes between the names & versions of player tech (e.g. VideoJS, ExoPlayer) and customer player info (e.g. the name & version of your player). Full descriptions of all supported fields are provided in our [docs](https://docs.mux.com/docs/data-reference#general-metadata).

The hardcoded values you referred to (`ExoPlayer` and `ExoPlayerL

[2021-02-23 13:50] #64 closed, assigned to nobody

[2021-02-23 14:22] Oziomajnr commented on #91
Thanks for the clarification, I can confirm the `Player Name` and `Player Version` is populated in the dashboard and its different from `Player Software` and `Player Software Version`.

I was using a trial account and I did not see them as separate fields, probably  `Player Name` and `Player Version`  are not  visible on the dashboard for trial accounts but from our premium account this is not the

[2021-02-23 14:22] #91 closed, assigned to nobody

[2021-03-11 10:03] indieboyalex opened #95 "Support ExoPlayer 2.13"
We need a version that supports ExoPlayer 2.13.

We tried using 2.13 with the 2.12 version of the plugin but this caused crashes when playing video (player worked fine without the plugin so it's not the player implementation)

[2021-03-16 23:23] skidder commented on #78
This has been fixed in v2.4.4, marking as closed.

[2021-03-16 23:23] #78 closed, assigned to nobody

[2021-03-26 15:24] cf256 opened #102 "AbstractMethodError when debuggable is false"
Crash when running app with `debuggable false`.

Checkout the demo app linked here https://github.com/cf256/exoplayermux.
When debuggable is true for the debug flavor, everything is fine. When it is false the app crashes.

Crash:
` E  FATAL EXCEPTION: main
                         E  Process: no.rikstv.muxexoexample, PID: 14107
                         E  java.lang.AbstractMethodError: abstract me

[2021-03-26 16:20] skidder commented on #95
@iNdieboyjeff Thank you for the issue, we added support for Exoplayer r2.13.1+ in [release 2.4.5](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.4.5) of our SDK.

[2021-03-26 16:21] skidder commented on #95
Fixed by #98

[2021-03-26 16:21] #95 closed, assigned to nobody

[2021-03-30 01:49] tomkordic commented on #102
Hi @cf256 this is not an Mux SDK related issue, it is project configuration issue, running your sample project app I saw the crash on this line of code: https://github.com/cf256/exoplayermux/blob/main/app/src/main/java/no/rikstv/exoplayertest/MainActivity.kt#L79
The app crashes on actual ExoPlayer function, the reason it crashes is related to dexing artifact transform, issue explained here: https:

[2021-03-31 17:38] #102 closed, assigned to nobody

[2021-03-31 19:44] cf256 commented on #102
Hi @tomkordic . Thanks for clearing that up, it did indeed fix my issue!
Thanks!

[2021-04-07 10:51] james-mux commented on #61
This issue should now be resolved from release v2.4.6 onwards. If you upgrade to the latest, any misreporting due to playWhenReady being false, but IMA pre-roll ads being present should be handled as expected from this version forwards.

[2021-04-07 10:51] #61 closed, assigned to nobody

[2021-04-14 16:39] denis-bezrukov commented on #102
@tomkordic We faced this issue as well and in our case `android.enableDexingArtifactTransform=false` didn't help - it fixed this particular crash, but app started crashing in other places. After investigation I found that the root cause is that we use only some parts of exoplayer, e.g. `exoplayer-core`,`exoplayer-ui`, `exoplayer-hls`. While mux sdk depends on `exoplayer` which depends on ton of ot

[2021-04-14 17:26] tomkordic commented on #102
@denis-bezrukov We do have plan to enable distribution via maven repository, it should happen in next 30 days.

[2021-05-25 16:27] #32 closed, assigned to tomkordic

[2021-06-10 04:58] XyrizTan opened #113 "MuxStatsExoPlayer callback NPE crash"
Hello, been encountering a null pointer exception crash in your latest 2.13.1/2.4.9 aar of your SDK

[code]

Dependencies used:
Mux SDK aar v2.13.1 (v2.4.9)
Exoplayer v2.13.3
IMA SDK v3.24.0 (we depend on IMA SDK in our project)

Environment:
Android API 30 Emulator

This doesn't happen in your previous version Mux SDK aar v2.13.1 (v2.4.8) combined with IMA SDK 3.19.4 (3.22.3 up to 3.24.0 still cr

[2021-06-10 17:56] jsanford8 commented on #113
Hi - thanks for the report. We are looking at this right now.

[2021-06-24 10:36] DeveloperYatin commented on #113
@jsanford8 i also got same error may be this logs will helps you

    Process: com.google.android.exoplayer2.demo, PID: 20353
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mux.stats.sdk.core.model.BandwidthMetricData.setRequestBytesLoaded(java.lang.Long)' on a null object reference
        at com.mux.stats.sdk.muxstats.MuxBaseExoPlayer$BandwidthMetric.onLoadComplet

[2021-07-02 11:49] zilinx opened #119 "Crash when mux receives AnalyticsCollector.onLoadCompleted"
The project uses ExoPlayer `2.13.3`
Mux version `2.4.9`  for ExoPlayer `2.13.1`

I won't go into details here because I bet it's something wrong with my initialisation (demo works fine for seemingly similar setup). I would appreciate if you could help me deciphering this obfuscated stacktrace.
By the way, is there no way to de-obfuscate these stacktraces? It makes it really difficult to troublesho

[2021-07-02 12:35] jsanford8 commented on #119
Hi @zilinx - sorry you're running into this. Can you please try with 2.4.10 which was just released last night to see if this is still happening? We fixed an issue just like this in that release.

[2021-07-02 12:51] zilinx commented on #119
Indeed it looks like `2.4.10` fixed the issue. Thank you!
I also noticed there is a mapping file attached to the release, so I can use that if I need to troubleshoot in the future. My apologies, I didn't notice the mapping file earlier.

Again, thank you for your help and swift reply 👍

[2021-07-02 12:51] #119 closed, assigned to nobody

[2021-07-02 12:54] jsanford8 commented on #119
No worries, glad that fixed the issue! Let us know if you see any other issues!

[2021-07-21 15:04] zilinx opened #126 "Mux should not set VideoFrameMetadataListener."
Installed version: `2.4.10`

Mux creates its own implementation of `VideoFrameMetadataListener` inside [`MuxBasePlayer`](https://github.com/muxinc/mux-stats-sdk-exoplayer/blob/49805a2ebfd85e9bdfa0959ca56cfb71cfc0e11a/MuxExoPlayer/src/main/java/com/mux/stats/sdk/muxstats/MuxBaseExoPlayer.java#L125) and then [sets it](https://github.com/muxinc/mux-stats-sdk-exoplayer/blob/49805a2ebfd85e9bdfa0959ca56

[2021-07-23 12:52] zilinx commented on #126
Related - using Mux with the newest version of ExoPlayer (`2.14.2`) will cause a crash when trying to set `VideoFrameMetadataListener`:

        at com.mux.stats.sdk.muxstats.e.setPlaybackHeadUpdateInterval(Unknown Source:19)
        at com.mux.stats.sdk.muxstats.e.configurePlaybackHeadUpdateInterval(Unknown Source:66)
        at com.mux.stats.sdk.muxstats.MuxStatsExoPlayer.onTracksChanged(Unknown

[2021-07-23 17:45] jsanford8 commented on #126
Hi @zilinx - thanks for submitting this! Right now we don't have support for r2.14.x, but we're working on it. Right now, you'll need to use r2.13.x or older until we have support for r2.14.x

[2021-07-26 05:50] zilinx commented on #126
Ok, thank you. The new version crash was just a side note - the main issue is still relevant, so I'll keep it open.
Do you have an estimate when support for 2.14.x will come out?

[2021-07-30 00:41] skidder commented on #126
@zilinx we've fixed this in https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.4.12

Please give it a try and let us know how it goes. Thanks again for the bug report!

[2021-07-30 00:41] #126 closed, assigned to nobody

[2021-07-30 00:45] skidder commented on #113
@XyrizTan @DeveloperYatin we fixed this issue in [v2.4.10](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.4.10) of our SDK and recommend trying the latest SDK (currently [v2.4.12](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.4.12)). Thanks again for the bug report!

[2021-07-30 00:45] #113 closed, assigned to nobody

[2021-07-30 00:47] skidder commented on #44
@szhangbiao can you report on whether this exception is still happening? If not, we'll close out this issue since it's been over 1 year since it was opened.

[2021-07-30 06:13] indieboyalex opened #130 "2.4.12 - CustomerData - Obfuscated class?"
New version of SDK - 2.4.12 for ExoPlayer 2.13.1.

With the old MuxStatsExoPlayer constructors being deprecated I've followed the example which created a com.mux.stats.sdk.core.model.CustomerData object and passes this in to the new constructor.  However, we are unable to resolve this class name.  Looking into the aar file I can see that this class has been obfuscated. I'm assuming this is a mista

[2021-07-30 07:15] tomkordic commented on #130
Yes, CustomerData is something that should be public API.

[2021-07-30 16:09] tomkordic commented on #130
Fixed: https://github.com/muxinc/mux-stats-sdk-exoplayer/commit/a4dd5073c51934c491a3f373d090c1988c5ab780

[2021-07-30 19:16] skidder commented on #130
@iNdieboyjeff Thank you for reporting this issue, it should be resolved in the new [2.4.13 release](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.4.13). Please let us know if you encounter anything else!

[2021-07-30 19:16] #130 closed, assigned to tomkordic

[2021-08-02 11:24] zilinx commented on #126
Thank you, checked on 2.4.13, it works well as far as the `VideoFrameMetadataListener` is concerned.
Now just waiting for ExoPlayer 2.14.x support :)

[2021-08-05 05:33] skidder commented on #44
Closing due to inactivity

[2021-08-05 05:33] #44 closed, assigned to nobody

[2021-08-05 05:35] skidder commented on #126
@zilinx You got it, we've added ExoPlayer 2.14.x support in our 2.4.14 SDK release!

[2021-08-05 06:19] zilinx commented on #126
Awesome, thank you! 🎉

[2021-08-13 10:27] zilinx opened #137 "Crash on `MuxStatsExoPlayer.updateCustomerData(CustomerData)`"
Mux SDK version `2.4.14` for ExoPlayer `2.14.1+`
ExoPlayer version `2.14.2`

The call [`updateCustomerData(CustomerData)`](https://github.com/muxinc/mux-stats-sdk-exoplayer/blob/9568e3c20d92838ca4de2d6f9c71c5433b1986a1/MuxExoPlayer/src/main/java/com/mux/stats/sdk/muxstats/MuxBaseExoPlayer.java#L232) causes a crash when trying to request an update using the call using a new instance of `CustomerDat

[2021-08-16 21:01] jsanford8 commented on #137
Hey @zilinx - thanks for submitting this, we're working on a fix

[2021-09-06 07:57] zilinx opened #152 "ConcurrentModificationException when calling updateCustomerData"
Mux library version: `2.5.2` for Exoplayer `2.14.1+`

There have been some reports of a crash when attempting to update the video data. The application will crash with an error:
[code]

This happens when calling:
[code]

I realise this version of `updateCustomerData` call  has recently been deprecated. We will probably switch to use the new approach, but it'd be good to fix this problem, or at lea

[2021-09-06 12:50] zilinx commented on #137
Has this issue been addressed? I was just testing with a variation of scenario 2 from my first post (example below), using Mux SDK version `2.5.2` for ExoPlayer 2.14.1. It no longer produces that crash.

[code]

By the way, did you consider introducing a builder pattern? I feel that something like ExoPlayer's [MediaItem.buildUpon()](https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea5

[2021-09-06 16:37] jsanford8 commented on #152
Hi @zilinx - thanks or submitting this, and we'll take a look

[2021-09-06 17:58] skidder commented on #137
@zilinx thanks for the update. Yes, this specific issue has been addressed in the 2.5.2 release. We'll look into the `MediaItem.buildUpon()` pattern as well, I appreciate the suggestion!

[2021-09-06 17:58] #137 closed, assigned to nobody

[2021-09-06 18:04] skidder commented on #30
We resolved this in the Exoplayer SDK release 2.5.2 by making the SDK artifacts available via Maven. Please check out the [installation docs](https://docs.mux.com/guides/data/monitor-exoplayer#1-install-the-mux-data-sdk) for detailed instructions!

[2021-09-06 18:04] #30 closed, assigned to nobody

[2021-09-07 14:52] tomkordic commented on #152
@zilinx is the code snippet you provided enough to reproduce the crash ?
For ConcurrentModificationException we need at least two threads modifying same object, I do not see the other thread.

[2021-09-07 18:32] zilinx commented on #152
I haven't reproduced the issue myself, it happens very infrequently. I only saw it in the crash reports from a release build.
The snippet is there to help to understand how our code interacts with Mux SDK at the point where Mux-related crash stacktrace (posted earlier) starts.

[2021-09-07 19:17] bearcattom commented on #30
@skidder - THANK YOU !

[2021-09-08 08:15] tomkordic commented on #152
This is really hard to reproduce, @zilinx can you explain a little bit a thread model of your app, where do you suspect it could be modifying the CustomerData other then what you shared ?

[2021-09-08 11:20] zilinx commented on #152
I didn't imagine this would be possible to reproduce in a reliable way. Like I said, it doesn't happen very often.
As for our implementaiton. there are a few events (received as kotlin StateFlow) which will trigger an update. The events are handled off the main thread. Probably the thread it is running from is modifying the dictionary at the same time another function is trying to access it. Are M

[2021-10-14 18:12] jjszolno opened #167 "ExoPlayer 2.15.x support"
We need a version that supports ExoPlayer 2.15.

We are currently using 2.15 with the 2.14 version of the plugin but this caused some crashes when playing video (player worked fine without the plugin so it's not the player implementation).

ExoPlayer 2.15 fixes several issues that were affecting all our Android users.

[2021-10-15 19:39] mdale commented on #167
+1

[2021-10-15 19:58] jsanford8 commented on #167
Thanks for submitting this! We are working on an update to support r2.15.x and will update you as we make progress.

[2021-10-25 13:53] chladto1 commented on #167
+1

[2021-11-05 21:36] daytime-em commented on #167
Support for ExoPlayer 2.15.1 been added in [v2.5.7](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.5.7), which is now available on Artifactory, or the [release page](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.5.7).

Thank you for your submission!

[2021-11-05 21:36] #167 closed, assigned to nobody

[2021-11-05 21:38] daytime-em commented on #152
This issue has been fixed in [v2.5.7](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.5.7), which is now available on Artifactory, or the [release page](https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/tag/v2.5.7).

Thank you for your report!

[2021-11-05 21:38] #152 closed, assigned to tomkordic

[2021-12-06 11:45] gm4s opened #174 "Usage of legacy support libraries"
Hey team,

It seems that your SDK is still using legacy support libraries, we are getting this warning when we build our app:

This behavior will not be allowed in Android Gradle plugin 8.0.
Please use only AndroidX dependencies or set `android.enableJetifier=true` in the `gradle.properties` file to migrate your project to AndroidX (see https://developer.android.com/jetpack/androidx/migrate for mo

[2021-12-06 11:53] gm4s opened #175 "Proguard rules missing for `com.mux.stats.sdk.muxstats:MuxExoPlayer_r2_15_1:2.5.7`"
Hey team!

Since this update `r2_15_1:2.5.7`, we had to add 2 new rules in our proguard rules to make the build go through:
[code]
otherwise we were facing this issue:
[code]

Maybe worth adding documentation around this or maybe is there anything that can be done on your side?

[2021-12-06 15:34] skidder commented on #175
Thank you for filing this issue,  @gm4s! We'll include this fix in the next SDK release.

[2021-12-10 19:38] #174 closed, assigned to nobody

[2021-12-10 19:38] #175 closed, assigned to nobody

[2021-12-23 13:41] denis-bezrukov opened #183 "Add ExoPlayer 2.16.1 support"
Exoplayer released [2.16.x](https://github.com/google/ExoPlayer/releases/tag/r2.16.1) and we would love to update our app to it. Usually, major exoplayer's versions are incompatible, so mux SDK will block us from updating. I'm posting this issue for visibility

[2022-01-03 22:38] skidder commented on #183
@denis-bezrukov Thank you for filing this issue! We're investigating the addition of support for Exoplayer 2.16 and will keep you updated.

[2022-01-11 12:55] zilinx opened #187 "Using `presentationChange` sets player dimensions to 0"
Library version: 2.5.9 for ExoPlayer 2.15.1+ (https://github.com/muxinc/mux-stats-sdk-exoplayer/releases/download/v2.5.9/MuxExoPlayer-r2_15_1-release.aar)

When using the new feature implemented in `2.5.8` to tell Mux that the video is viewing full screen, the framework will stop reporting `playerWidth` and `playerHeight` - both are set to 0 in the events printed when verbose debug logging is enab

[2022-01-11 17:21] daytime-em commented on #187
Thank you for your submission. This is being investigated for the upcoming 2.6.0 version.

[2022-01-12 01:46] #183 closed, assigned to nobody

[2022-01-12 01:46] #187 closed, assigned to nobody

[2022-01-12 01:49] daytime-em commented on #183
Thank you for reporting this. Version 2.6.0 should be available from our mvn in the next couple of hours.

You may need to update your AGP to 7.0 and JDK to 11, if you haven't yet.

[2022-01-12 01:49] daytime-em commented on #187
Thanks again for reporting this. Version 2.6.0 should be available from our mvn in the next couple of hours.

You may need to update your AGP to 7.0 and JDK to 11, if you haven't yet.

[2022-01-13 04:58] daytime-em commented on #187
2.6.0 has now been released. Sorry for the delay, we were affected by the bintray outage.

[2022-01-13 04:59] daytime-em commented on #183
2.6.0 has now been released. Sorry for the delay, we were affected by the bintray outage.

[2022-01-19 18:27] Koster35 opened #190 "Duplicate Class Build Error when using ExoPlayer Amazon port with MuxExoPlayer v2.6.0"
Hello Mux team!

In our project, we just upgraded the ExoPlayer from r2.12.1 to r2.16.1. So, we also upgraded MuxExoPlayer v2.4.15 for ExoPlayer r2.12.1 to MuxExoPlayer v2.6.0 for ExoPlayer r2.16.1. In this upgrade, we also started pulling the MuxExoPlayer library from your jfrog repository, rather than including the .AAR locally.  This was successful, but I want to make you aware of an issue I ra

[2022-04-08 21:48] daytime-em commented on #190
Thank you for your report. We apologize for the long turnaround on this issue, but we will be adding official support for the Amazon Port in our next SDK release, which is [in review](#199) now.

[2022-04-13 17:52] #190 closed, assigned to nobody

[2022-04-13 17:57] daytime-em commented on #190
Version `2.7.0` of the SDK offers explicit support for the Amazon Exoplayer Port. You can depend on it with this line:
[code]

We expect the update to be available by this evening. Thanks again for your report!

[2022-04-22 06:34] indieboyalex opened #202 "2.7.0 - Package missing"
<img width="1018" alt="Screenshot 2022-04-22 at 08 29 09" src="https://user-images.githubusercontent.com/851270/164616880-be01eeb7-7036-44ff-b7d7-94ce959ef3a5.png">

Updated to 2.7.0 for Exo 2.16.1 and the core package is missing.  If there has been a fundamental change like this it should be in the release notes (and I can't see any reference to this), or there is an issue with the build (this ha

[2022-04-22 06:35] indieboyalex commented on #202
<img width="436" alt="Screenshot 2022-04-22 at 08 35 14" src="https://user-images.githubusercontent.com/851270/164617205-c01f8036-24a0-41f3-bd24-17ad98fe7863.png">

2.6.1 looks to have a lot more packages in the aar

[2022-04-27 13:48] daytime-em commented on #202
Thank you for your report. This change was not intended and a fix will be available very soon. We're sorry for any inconvenience this has caused

[2022-04-28 02:13] daytime-em commented on #202
This issue has been fixed in our `v2.7.1` update. The `core` packages should be available to you again. The update is available now.

Thank you again for your report!

[2022-04-28 02:13] #202 closed, assigned to nobody

[2022-04-29 07:14] indieboyalex commented on #202
<img width="551" alt="Screenshot 2022-04-29 at 09 13 02" src="https://user-images.githubusercontent.com/851270/165899910-9684d114-ddf1-45e9-85e4-4da1d9c5cd18.png">

Hate to be a pain but I have exactly the same issue with 2.7.1

[2022-04-29 07:15] indieboyalex opened #206 "2.7.1 - Package missing"
Exactly the same as https://github.com/muxinc/mux-stats-sdk-exoplayer/issues/202 but with 2.7.1
<img width="551" alt="Screenshot 2022-04-29 at 09 13 02" src="https://user-images.githubusercontent.com/851270/165900139-7a371b69-a6b5-4505-a104-2f168e07edfa.png">

[2022-04-29 18:05] daytime-em commented on #206
We're very sorry you're still having issues with this. We are unable to replicate this on our side. Just to be clear, are you still experiencing build issues as well? We don't expect the classes to be in this `aar` anymore, but they come in via a transitive dependency.

Can you verify whether or not  `'com.mux:stats.muxcore:7.0.11'` is anywhere in your classpath? For example the dependencies for o

[2022-05-03 07:22] bolot commented on #206
I experienced the same issue, but in my case, this turned out to be due to a misconfiguration of the Mux maven repository.

In my app `build.gradle`, I have the equivalent of:

[code]

In my root `build.gradle`, I had this:

[code]

Note that the offending library has a different group name: `com.mux`. Adding it fixed the issue for me:

[code]

[2022-05-03 07:40] indieboyalex commented on #206
I managed to resolve this by removing a rogue '@aar' from the gradle declaration.

HOWEVER, I now have a bigger issue that prevents us from building our app.

I see from the dependencies that you look to be importing the exoplayer libraries.  Is it possible to prevent this, as we are using a slightly custom build of the exoplayer libraries and your imports are preventing our project from building

[2022-05-03 07:51] indieboyalex commented on #206
For the time being I'm excluding the transitive dependencies manually:

`
api (Libs.mux) {
        exclude group: "com.google.android.exoplayer"
        exclude group: "org.json"
    }
`

[2022-05-03 09:15] indieboyalex commented on #206
Additionally, once we have excluded the transitive dependencies, we crash with:

`java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/source/hls/HlsManifest;
        at com.mux.stats.sdk.muxstats.MuxStatsExoPlayer.onTimelineChanged(Unknown Source:14)
        at com.mux.stats.sdk.muxstats.MuxStatsExoPlayer.onTimelineChanged(Unknown Source:2)`

This no doubt being be

[2022-05-06 00:42] daytime-em commented on #206
Thank you both for your detailed feedback!

@bolot For the time being, please continue using both content filters for our maven repository. We may update our `groupId`s for consistency in the future. Sorry for any inconvenience this has caused.

@iNdieboyjeff We have fixes for the crash and the duplicate class errors. The next update will be able to tolerate the absence of the HLS module. I'll clo

[2022-05-20 00:04] daytime-em commented on #206
@iNdieboyjeff your issues with crashes and duplicate class errors should be resolved in v2.7.2 of the SDK. The Data SDK should no longer declare any exoplayer depedencies for runtime. I think you should probably keep filtering out the `exoplayer` package like you're doing, to avoid unwanted symbols in your compile classpath.

Thanks again for your feedback!

[2022-05-20 00:04] #206 closed, assigned to nobody

[2022-06-10 08:44] indieboyalex commented on #206
@daytime-em I've updated to 2.8.0 and still crashing due to dependency:

`2022-06-10 10:40:22.496 11512-11512/com.upst.hayu E/AndroidRuntime: FATAL EXCEPTION: main
    Process: XXXXXXXXXXX, PID: 11512
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/source/hls/HlsManifest;
        at com.mux.stats.sdk.muxstats.MuxBaseExoPlayer.isHlsExtensionAvailable(Unknown

[2022-11-10 14:57] kylebrocklc opened #252 "Crash when timeline changes after clearing media items."
Receiving a crash:

I've tried multiple exoplayer and mux versions.

Mux: 3.1.0
ExoPlayer: 2.18.1

java.lang.IndexOutOfBoundsException
11-10 08:46:47.502  6336  6336 E AndroidRuntime: 	at com.google.android.exoplayer2.Timeline$1.getWindow(Timeline.java:965)
11-10 08:46:47.502  6336  6336 E AndroidRuntime: 	at com.google.android.exoplayer2.Timeline.getWindow(Timeline.java:1085)
11-10 08:46:47.502

[2022-11-10 15:33] daytime-em commented on #252
Thank you for your report. We should have a fix for this later today.

[2022-11-11 13:54] #252 closed, assigned to nobody

[2022-11-11 13:56] daytime-em commented on #252
@kylebrocklc `v3.1.1` of our SDK for ExoPlayer should fix this issue. It will be available sometime in the next half hour. Thank you again for your report!